# === Environment ===
.env

profiles.yml
dbt/.user.yml

# === Airflow ===
airflow/logs/
airflow/plugins/

# === Docker volumes ===
postgres_data/
clickhouse_data/
shared_data/

# === Python ===
__pycache__/
*.pyc
*.pyo
.venv/

# === OS ===
.DS_Store
Thumbs.db
